html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

#body {
    min-height: calc(100% - 132px);
}

footer {
    width: 100%;
    height: 60px;
    background-color: #222; /*#f5f5f5;*/
    color: #fff;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    padding-top: 20px;
}

.selectable {
    cursor: pointer;
}

.table-nav-btns {
    float: right;
}

.table-nav-btns > a {
    margin-left: 5px;
}

.control-label {
    padding: 0 !important;
}

.align-text-left {
    text-align: left !important;
}

#scores > span:not(:first-child) {
    margin-left: 10px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
    margin-left: 10px;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.restaurant-action-btns {
    display: flex;
    justify-content: center;
}

.restaurant-action-btns * {
    margin: 0 2px;
}

.panel-heading {
    display: flex;
}

.remove-score-btn {
    border: 0;
    float: right;
    background: none;
    padding: 0;
    height: 20px;
    width: 20px;
}